@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin-top: 20px;
  background-color: #ccc;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.label {
  margin-bottom: 10px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.certificate {
  position: relative;
  width: 210mm;
  height: 297mm;
  margin: 20px 0;
  object-fit: cover;
  border: 1px solid black;
}

.certificate-image {
  width: 100%;
  height: 100%;
}

.certificate-content {
  position: absolute;
  top: 200px;
  left: -103px;
  right: 300px;
  text-align: center;
  font-size: 28px;
  color: black;
  width: 1000px;
}

.certificate-photo {
  width: 146px;
  height: 180px;
  margin-top: 180px;
  margin-bottom: 2px;
  border-radius: 5px;
}

.button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}
.certificate-text-name {
  font-size: 30px;
  margin-top: 387px;
  font-weight: bold;
  color: black;
  font-family: "Poltawski Nowy", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.certificate-text-field {
  font-family: "Poltawski Nowy", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #14297c;
  margin-top: 685px;
  margin-right: 261px;
}
.certificate-text-code {
  font-size: 18px;
  margin-top: 713px;
  margin-right: 283px;
  color: #14297c;
  font-family: "Poltawski Nowy", sans-serif;
  font-weight: 700;
}
.certificate-text-date {
  font-size: 16px;
  margin-top: 644px;
  margin-left: -355px;
  color: #14297c;
  font-family: "Poltawski Nowy", sans-serif;
  font-weight: 700;
}
